body{
  color: #000004;
  background-color: #FBFEF9;
  main{
    background: linear-gradient(180deg,#19647E,#7E1946);
    color: #FBFEF9;
  }
  footer{
    background-color: #7E1946;
    color: #FBFEF9;
  }
}