@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@600&family=Playfair+Display:wght@500&family=Poppins:wght@500;600;700&family=Questrial&family=Roboto&family=Tangerine:wght@400;700&family=Volkhov:wght@700&display=swap%27");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  background: #222;
  color: #FBFEF9;
}
body header {
  background-color: #FBFEF9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Questrial", sans-serif;
  list-style: none;
}

h1 {
  font-size: 2em;
  color: #FBFEF9;
  padding-top: 10vh;
}

nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
nav .toggle-button {
  position: absolute;
  top: 43px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 31px;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 30px;
}
nav ul li a {
  color: #000004;
  padding: 15px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: rgba(94, 8, 3, 0.9254901961);
  color: #FBFEF9;
  border-radius: 5px;
}

@media (max-width: 750px) {
  body header nav {
    height: 1vh;
  }
  body header nav .toggle-button {
    display: flex;
  }
  body header nav .toggle-button span {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    color: #000004;
    background: #000004;
  }
  body header nav ul {
    display: none;
    width: 100vh;
    flex-direction: row;
  }
  body header nav ul li {
    display: flex;
    justify-content: space-around;
  }
  body header nav ul.active {
    display: flex;
    margin-top: 300px;
  }
  body header nav ul.active li a {
    color: #FBFEF9;
    border: solid 2px rgba(94, 8, 3, 0.8549019608);
    border-radius: 30%;
  }
}
@media (max-width: 430px) {
  body header nav ul {
    padding-bottom: 35%;
    padding-left: -100%;
  }
}
.homebody {
  background-image: url(../image/lab.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.homemain {
  display: flex;
  justify-content: left;
  margin-left: 8%;
  align-items: center;
  min-height: 120vh; /*https://www.w3schools.com/cssref/css_units.asp*/ /* permet de centrer*/
  /* background: #434750; couleur du background du fond */
  /* on select le dernier enfant/menbre de la liste li */
}
.homemain ul {
  position: relative;
  transform: skewY(-15deg); /*https://developer.mozilla.org/fr/docs/Web/CSS/transform-function/skew*/
}
.homemain ul li {
  position: relative;
  list-style: none;
  width: 180px; /*augmente larguere*/
  background: #3e3f46;
  padding: 20px;
  z-index: var(--i);
  transition: 0.5s;
}
.homemain ul li:hover {
  background: rgba(94, 8, 3, 0.8549019608); /*change couleur face front*/
  filter: brightness(1.5);
  transform: translateX(70px); /*au passage bouge sur la gauche ou la droite */
}
.homemain ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: #35383e;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}
.homemain ul li:hover::before {
  background: rgba(94, 8, 3, 0.8549019608);
  filter: brightness(1.5);
}
.homemain ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
.homemain ul li:hover::after {
  background: rgba(94, 8, 3, 0.8549019608);
  filter: brightness(1.5);
}
.homemain ul li a {
  text-decoration: none;
  color: #999; /*couleur des lettres*/
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.homemain ul li:hover a { /*ce qui se passe aau survole de chaque li*/
  color: #fff; /*couleur des lettres*/
}
.homemain ul li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

body footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
body footer ul {
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body footer ul li {
  display: flex;
  flex-direction: row;
}
body footer ul li a {
  text-decoration: none;
  padding-top: 0.5vh;
  padding-left: 1vh;
  font-size: 20px;
  color: #FBFEF9;
}

body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 5;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
body header div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 15px;
}
body header div a {
  padding-left: 10px;
}
body header div a img {
  max-width: 50px;
  max-height: 50px;
}
body header div a img:hover {
  background-color: rgba(94, 8, 3, 0.9254901961);
  border-radius: 70px;
}

@media (max-width: 850px) {
  body header nav ul li a {
    font-size: 20px;
  }
}
body main {
  min-height: 95vh;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
body main h1 {
  text-align: center;
}

body .homemain .picture {
  position: absolute;
  left: 42%;
  bottom: 45%;
}
body .homemain .picture img {
  height: auto;
  width: 30vh;
}
body .homemain .description {
  position: absolute;
  bottom: 22%;
  right: 5%;
  max-width: 20%;
  box-shadow: 0px 40px 20px rgba(0, 0, 0, 0.25);
  transform: skewY(15deg);
}

body main .me {
  display: flex;
  flex-wrap: wrap;
}
body main .me .passion p {
  margin: 5px;
}
body main .me .formation {
  padding-top: 30vh;
}
body main .me .formation ul li {
  margin: 5px;
}
body main .me .contacte p {
  margin: 5px;
}
body main .me .contacte p a {
  color: #FBFEF9;
}

body main .hard-skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
body main .hard-skill .skills {
  max-width: 900px;
  padding: 1.5%;
  border-inline-start: 8px solid;
  border-block-end: 8px solid;
  border-image-source: radial-gradient(circle at bottom left, rgba(201, 17, 8, 0.8549019608), transparent 80%);
  border-image-slice: 1;
}
body main .soft-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
body main .soft-skills .skills {
  max-width: 900px;
  padding: 1.5%;
  border-inline-start: 8px solid;
  border-block-end: 8px solid;
  border-image-source: radial-gradient(circle at bottom left, rgba(201, 17, 8, 0.8549019608), transparent 80%);
  border-image-slice: 1;
}
body main .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5%;
}
body main img {
  width: auto;
  height: 80px;
}

.mainprojet {
  color: #555;
  background: #222;
  text-align: center;
  font-family: "Roboto Mono";
  padding: 1em;
}

.projecto {
  padding-top: 10vh;
}

.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front .pprojet,
.flip > .back .pprojet {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
  font-size: 20px;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/*# sourceMappingURL=build.css.map */
