#projet-gaya{
  display: none;
}

#projet-Notre_dame_de_paris{
  display: none;
}

#projet-présentation{
  display: none;
}

#projet-portfolio{
  display: none;
}

#projet-neurotech{
  display: none;
}

#image-fond{
  display: none;
}

#logo-personel{
  display: none;
}