
nav{
  padding: 10px;
  display: flex;
  flex-direction: row;
  .toggle-button{
    position: absolute;
    top: 43px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 31px;
  }
  ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    li{
      a{
        color: #000004;
        padding: 15px;
        text-decoration: none;
      }
      a:hover{
        background-color: #5e0803da; 
        color: #FBFEF9;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 750px) {
  body{
    header{
      nav{
        height: 1vh;
        .toggle-button{
          display: flex;
          span{
            height: 3px;
            width: 100%;
            border-radius: 10px;
            color: #000004;
            background: #000004;
          }
        }
        ul{
          display: none;
          width: 100vh;
          // height: 2vh;
          flex-direction: row;  
          // padding-bottom: 35%;
          li{
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
  }
  body{
    header{
      nav{
        ul.active{
          display: flex;
          margin-top: 300px;
          li{
            a{
              color:#FBFEF9;
              border: solid 2px #5e0803da; 
              border-radius: 30%;
              
            }
          }
        }
      }
    }
  }
}

@media (max-width:430px) {
  body{
    header{
      nav{
        ul{ 
          padding-bottom: 35%;
          padding-left: -100%;
        }
      }
    }
  }
}