body{
  main{
    .hard-skill{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 3vh;
      padding-bottom: 2vh;
      .skills{
        max-width: 900px;
        padding: 1.5%;
        border-inline-start: 8px solid;
        border-block-end: 8px solid;
        border-image-source: 
          radial-gradient(
            circle at bottom left,
            #c91108da,
            transparent 80%);
        border-image-slice: 1;
      }
    }

    .soft-skills{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 3vh;
      padding-bottom: 2vh;

      .skills{
        max-width: 900px;
        padding: 1.5%;
        border-inline-start: 8px solid;
        border-block-end: 8px solid;
        border-image-source: 
          radial-gradient(
            circle at bottom left,
            #c91108da,
            transparent 80%);
        border-image-slice: 1;
      }
    }

    .logo{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 5%;
    }

    img{
      width: auto;
      height: 80px;
    }
  }
}