body{
  main{
    section{ 
      padding: 15px;
      .front-skill{
        display: flex;
        flex-direction: row;
        ul{
          display: flex;
          flex-direction: row;
          gap: 3vh;
          li{
            padding-top: 5vh;
            padding-left: 4vh;
            img{
              min-height: 80px;
            }
          }
        }
      }
      .back-skill{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 40px;
        ul{
          display: flex;
          flex-direction: row;
          gap: 3vh;
          li{
            padding-top: 5vh;
            padding-right: 5vh;
            img{
              min-height: 80px;
            }
          }
        }
      }
      div{
        ul{
          li{
            img{
              height: 60px;
              width: auto;
            }
          }
        }
      }
    }
    .skills{
        height: auto;
        width: 650px;
        margin-top: 20px;
        padding: 10px;
        padding-top: 30px;
        margin-left:20px ;
        margin-right:20px ;
        color: #FBFEF9;
        border-inline-start: 8px solid;
        border-block-end: 8px solid;
        border-image-source: 
          radial-gradient(
            circle at bottom left,
          black,
            transparent 80%);
        border-image-slice: 1;
    }
  }
}